/**
 * create by Zeen Wu
 * on Sep 8, 2022
*/

:root {
    --color-nav:#fefefe;
}

* {
    margin: 0; padding: 0
}

#nav_top {
    background-color: var(--color-nav);
}

#sub_title{
    height: 8rem;
    padding-top: 3rem;
    background-color:#4b6272;
    color: #eeeeee;
    margin-bottom: 2rem;
}

.box {
  
    border: 1px solid #cecece;
    padding: 2.5rem;
    margin-bottom: 3rem;
}

#sub_nav {
    margin-bottom: 3rem;
}
.div_bg {
    background-image: url('../images/home.jpg');
    min-height: 16rem;
    color: #333333;
  }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav_bg {
    background-color: #000;
}
            